<div style="float:right"><%= link_to "Logout", destroy_user_session_path, :method => :delete -%></div>

<% if current_user.is_a?(NormalUser) -%>
  <%
  current_user.facebook.feed!(
  :message => 'Hello, Facebook!', 
  :name => 'My Rails 3 App with Omniauth, Devise and FB_graph'
)
%>
<% end %>
<% if current_user.is_a?(AgentUser) -%>
  <%= link_to "New Post", new_post_path -%>
<% end %>
