<div style="float:right"><%= link_to "Logout", destroy_user_session_path, :method => :delete -%></div>

<% if current_user.is_a?(NormalUser) -%>

<% end %>
<% if current_user.is_a?(AgentUser) -%>
  <%= link_to "New Post", new_post_path -%>
<% end %>
